@use "../base/mixin" as *;
@use "../base//variables" as *;

.game__background::before {
    @include background(url("../../assets/game-bg.jpg") no-repeat center center, 0.7);
}

.game{
    @include center();
    @include container();
    &__header {
        @include center(row, space-between);
        width: 100%;
        margin-top: 2rem;
        padding: 20px;
        border-radius: 10px;
        background-color: $primary;
        & span {
            color: $secondary;
            font-size: 1.15rem;
            @media screen and (max-width: 800px) {
                font-size: 1rem;           
            }
        }
        @media screen and (max-width: 800px) {
            gap: 10px;
            padding: 10px;
        }
    }
    &__grid {
        width: 100%;
        margin-inline: auto;
        margin-block: 3rem;
        display: grid;
        gap: 15px;
    }
}
