@use '../base/variables' as *;
@use "../base/mixin" as *;

.login-container {
    @include center();
    @include container();
    background-color: $bg;
}

.login {
    @include center();
    &__header {
        @include center();
        margin-bottom: 50px;
        &__image {
            width: 100px;
            padding-bottom: 20px;
        }
        &__title {
            color: $primary;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}