@use '../base/variables' as *;
@use "../base/mixin" as *;

.login__background::before {
    @include background(url("../../assets/login-bg.jpg") no-repeat center center);
}

.login-container {
    @include center();
    @include container();
}

.login {
    @include center();
    &__header {
        @include center();
        margin-bottom: 50px;
        &__image {
            width: 100px;
            padding-bottom: 20px;
        }
        &__title {
            color: $primary;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}