@use '../base/variables' as *;
@use "../base/mixin" as *;

.login__background::before {
    @include background(url("../../assets/login-bg.jpg") no-repeat center center);
}

.login-container {
    @include center();
    @include container();
}

.login {
    @include center();
    &__title {
        color: $primary;
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 2rem;
    }
}