@use "../base/variables" as *;

.game__card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    transition: all 2s ease;
    transform-style: preserve-3d;
    &__face {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border: 2px solid $accent;
        border-radius: 5px;
        transition: all 2s ease;
    }
    & .front {
        transform: rotateY(180deg);        
    }
    & .back {
        background-image: url("../assets/back.jpg");
        backface-visibility: hidden;
    }
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}