@mixin center($direction: column, $justify: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin container() {
    height: 100dvh;
    max-width: 700px;
    margin-inline: auto;
    padding-inline: 2rem;
    @media screen and (max-width: 800px){
        max-width: 500px;
    }
}